:root {
  --online: #44b700;
  --offline: #b74400;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #30384b;
  color: #eee;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100% !important;
  padding: 0 1rem !important;
  background-color: whitesmoke !important;
  color: black !important;

  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.error {
  margin: 0.5rem;
  color: red;
  text-align: center;
}

/*
  Extra Small Devices, Phones 
  @media only screen and (min-width: 480px) {}
*/

/*
  Small Devices, Tablets
  @media only screen and (min-width: 768px) {}
*/

/*
  Medium Devices, Desktops
  @media only screen and (min-width: 992px) {}
*/

/*
  Large Devices, Wide Screens
  @media only screen and (min-width: 1200px) {}
*/

 

main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}



 .button-b {
   background-color: transparent;
   color: rgba(225, 225, 225, 0.8);
   border: 0;
   display: inline-block;
   width: 100px;
   cursor: pointer;
 }

 /* button.with-text {
  width: 100px;
  background-color:rgba(225, 225, 225, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
 } */

 button.with-text svg{
  width: 80px;
 }

 label{
   display: block;
   margin-bottom: 10px;
   margin-top:  10px;
   text-transform: capitalize;
 }